/* Import Bitter font from googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

/* General styles to the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-image: url(../images/pexels-stephan-seeber-1261728.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for particular elements */

header {
  margin: 10% 0 50px;
}

#main-div {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  padding: 8px;
}

/* list items */
input {
  width: 86%;
}

#list {
  margin-top: 10px;
}

li {
  list-style: none;
}

#delete-button,
#edit-button {
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  border: 2px solid red;
  width: 100%;
}
